.body{
    background-color: blueviolet;
}


.color{
    background-color: brown;
}

#quiensoy{
    background-color: cyan;
}

.anteultimaparte{
    background-color: darkgreen;
}

.ultimaparte{
    background-color: darkslategray;
    color: black;
}

.fab fa-airbnb{
    color:red;
    
}

.iconitos . fab{
    font-size:50px;
}