.contenedor{
    width: 500px;
    height: 200px;
    background: #ffffff;
    padding: 50px;
    border: 18px solid #ffffff;
    margin: 200px;


    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;

    flex-direction: row;
    flex-wrap:no-wrap;
}

.elemento1 {
    color: red;
    margin: auto;
    text-align: center;
    background: center;
    width: 200px;
    height: 50px;
    display:inline-flex;
}

.body{
    background-color: seagreen;
    margin: 0px;

}